# Virtual Environment
venv/

# Build artifacts
build/
dist/
*.spec

# Python cache
__pycache__/
*.pyc

# IDE / Editor specific
.vscode/

# Local build scripts
build & run.bat
build & zip & run.bat
git_push.bat
