# Virtual Environment
venv/

# User-Specific Application Files
config.json

# Build artifacts
build/
dist/
*.spec

# Python cache
__pycache__/
*.pyc

# IDE / Editor specific
.vscode/

# Local build scripts
build & run.bat
build & zip & run.bat
git_push.bat

# =================================================================
# Design & Project Files
# =================================================================
*.afphoto
*.afpub
*.afdesign
*.psd
*.psb
*.blend
*.blend1
*.gimp


# =================================================================
# OS-specific files
# =================================================================
desktop.ini
Thumbs.db